.notification {
  color: green;
  border: darkgreen;
  border-radius: 5px;
  font-size: 30px;
  background: lightgray;
  border-color: darkgreen;
  border-style: solid;
  padding: 10px;
  margin-bottom: 10px;
}
